@font-face {
    font-family: 'lcd_solidregular';
    src: url('./fonts/lcdsolid-vpzb-webfont.woff2') format('woff2'),
         url('./fonts/lcdsolid-vpzb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    width: 100%;
    height: 100%;
    background: #EEE;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    border: 1px solid black;
    max-width: 500px;
    padding: 20px;
    background: #888;
    border-radius: 30px;
}

#display {
    padding-left: 15px;
    padding-right: 80px;
    font-family: 'lcd_solidregular';
    font-size: 24px;
    background: white;
    border-radius: 10px;
    height: 30px;
    padding: 10px 0px 5px 15px;
}

#displayWarning {
    color: red;
    background: white;
    text-align: center;
    height: 40px;
    margin-top: -10px;
    padding: 10px 0 0 15px;
    border-radius: 5px;
}

#display, #displayWarning {
    font-size: 24px;
    font-family: 'lcd_solidregular';
}

.backspace {
    float: right;
    margin-top: -10px;
    margin-right: 0;
    height: 85px;
    border: none;
    width: 80px;
}

#buttonArea {
    display: flex;
    flex-wrap: wrap;
}


button {
    background-color: #222;
    color: #FFF;
    font-size: xx-large;
    height: 80px;
    flex: 1 0 21%;
    border-radius: 10px;
    margin-top: 10px;
}

#zero {
    flex: 3 0 40%;
}

.clear, .sign, .percent {
    background-color: royalblue;
}

.operator {
    background-color: orange;
}